
<div class="container" style="width:35%">
	<center>
		<div>
			<%= link_to "Ndryshimet", logs_path, class: "btn btn-primary" %>
			<%= link_to "Pushimet Zyrtare", pushimet_path, class: "btn btn-primary" %>
			<%= link_to "Deklarimet", deklarims_path, class: "btn btn-primary" %>
		</div>
	</center>
	<%= render 'shared/error_messages' %>
	<%= will_paginate @admins, renderer: BootstrapPagination::Rails, :previous_label => 'Prapa', :next_label => 'Perpara' %>
  	<table class="table" >
	  <thead>
	    <tr>
	      <th scope="col"><button type="button" data-toggle="modal" data-target="#exampleModal" style="border: 0px; padding: 0px; background: none; color: green;font-size: 21px">&#43;</button></th>
	      <th scope="col">Emri</th>
	      <th scope="col"></th>
		      <th scope="col"><%= link_to logout_path, method: :delete do %>
	      <span class="glyphicon glyphicon-lock" style="color: black; font-size: 20px"></span><% end %></td>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @admins.each do |a| %>
	  		<% next if a.name == "Ajri" %>
		    <tr>
		      <th scope="row"><%= @i += 1 %></th>
		      <td><%= a.name %></td>
		      <% if @current_admin.name == "Ajri" || @current_admin == a %>
			      <td>
			      	<%= link_to edit_admin_path(a) do %><span class="glyphicon glyphicon-pencil" style="color: black; font-size: 20px"></span><% end %>
		      	  </td>
			      <td>
			      	<%= link_to a, method: :delete do %><span class="glyphicon glyphicon-minus" style="color: black; font-size: 20px"></span><% end %>
		      	  </td>
		      	  
		      <% else %>
		      	<td>
		      	</td>
		      	<td>
		      	</td>
	      	  <% end %>
		    </tr>
	  	<% end %>
	  </tbody>
	</table>
</div>
<%= form_for(@admin)do |f|%>
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel"><strong>Shto Admin të ri</strong></h4>
        </div>
        <div class="modal-body">
			<%= f.label :name, "Emri" %>
			<%= f.text_field :name, class: 'form-control' %>
			<%= f.label :email %>
			<%= f.text_field :email, class: 'form-control' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation, "Perseri Password" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <%= f.label :sending_mail, "Email per dergim" %>
          	<%= f.select :sending_mail, ["humanresources@albinadyla.com", "humanresources.pr@albinadyla.com"], {:prompt => "Zgjedh Email-in"}, class: "form-control"%>
          	<%= f.label :lang, "Gjuha ne CrossChex" %>
          	<%= f.select :lang, ["Shqip", "Anglisht"], {:prompt => 'Zgjedh Gjuhen'}, class: "form-control"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Mbylle</button>
          <%= f.submit "Shto", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>