<div id="remote_container"></div>
<div class="container">
	<table width="100%">
		<tr>
			<td width="70%" >
				<div id="pagination">
					<%= will_paginate @pagas, renderer: BootstrapPagination::Rails, :previous_label => 'Prapa', id: "pagination", :next_label => 'Perpara', inner_window: 3, outer_window: 0  %>
				</div>
			</td> 
			<td>
				<div style="height:75px"></div>
			</td>
		</tr>
	</table>
	<%= render 'shared/error_messages' %>
	<center><div style="width:450px"><%= render 'layouts/flash' %></div></center>
	<table class="table">
		<thead>
			<h3>Deklarimi i pagave të punonjësve të Kompanisë Albina Dyla në Gjakovë për muajin <%= @deklarim.muaji %> 2020</h3>							
			<tr>
				<th scope="col" style="">#</th>
				<th scope="col">Emri</th>
				<th scope="col">Mbiemri</th>
				<th scope="col">Numri Individual i punëtorit</th>
				<th scope="col">Bruto paga për muaj</th>
				<th scope="col">Kontributi pensional i të punësuarit</th>
				<th scope="col">Kontributi pensional i punëdhënësit</th> 
				<th scope="col">Kontributi suplementar i të punësuarit</th>
				<th scope="col">Kontributi suplementar i punëdhënësit</th>
				<th scope="col">Punë Primare</th>
				<th scope="col">Përfshihen Kontributet</th>
				<th scope="col">Aplikohet Tatimi në Paga</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<% @pagas.each do |a| %>
			<tr>
				<th scope="row"><%= @i+=1 %></th>
				<td><%= a.user.name.split[0] %></td>
				<td><%= a.user.name.split[1] %></td>
				<td><%= link_to a, method: :delete do %>
					<span class="glyphicon glyphicon-trash" style="color: red; font-size: 18px"></span><% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>